:root {
  --base: #00a3a3;
  --primary: #008080;
  --secondary: #00505066;
}

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--base);
}

/* header {
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);    
} */

a {
  cursor: pointer;
  font-weight: bold;
}

a.btn-nav {
  color: white;
}

a.btn-nav:hover {
  color: #005050;
}

.header-container {
  position: relative;
}

.logout-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-nav-sair {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #FF4747;
  position: relative;
  color: #ffffff;
  border: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.btn-nav-sair i {
  top: 26%;
  left: 26%;
  font-size: 24px;
  position: absolute;
}

.btn-nav-sair:hover {
  color: #ffffff;
}

.clear {
  clear: both;
}
.center {
  text-align: center;
}

.neo-section {
  min-height: 790px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neo-container {
  display: flex;
  max-width: 1280px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  padding: 0 1rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: white;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.home-btn {
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: transform 100ms ease-in-out;
}

.home-btn:hover {
  color: white;
  transform: scale(1.05);
}

.sombra {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.neo-section > .neo-container {
  position: relative;
  z-index: 105;
}
.home-text {
  color: var(--base);
  font-size: 3em;
  font-weight: bold;
}
.btn-index {
  width: 280px;
  color: #fdfdfd;
  border-radius: 10px;
  border: 3px solid #7fdce8;
  padding: 20px;
}

.btn-index:hover {
  color: #eeeeee;
  background-color: rgb(127, 220, 232);
}

.default-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.arrow-back  {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.rodape {
  color: #ffffff;
  background-color: #005050;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.d-grid {
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

@media screen and (max-width: 667px) {
  nav {
    height: 100%;
  }
  .neo-container {
    margin-top: 120px;
  }
}
